/*!
Free Bootstrap Themes : http://www.365bootstrap.com
 */
 
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html, body {width:100%; padding:0; margin:0;}
body {background: #ffffff; color: #333333;font-size: 16px; font-family: Arial, Helvetica, sans-serif}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

a{color: #337AB7;}
a:hover {text-decoration: underline;}

h1 {font-size: 55px;}
h2 {font-size: 45px;}
h3 {font-size: 30px;}
h4 {font-size: 25px;}
h5 {font-size: 20px;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Content-------------------------------- */
/* ---------------------------------------------------------------------------- */
#page-content{margin: 100px 0 50px 0;}
#page-content img {margin-bottom: 30px ;}
/* ----------------- */
/* ---MainContent--- */
#main-content {margin-bottom: 30px;}

article{background:#ffffff;margin-bottom:30px;}
article:after, article:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
article .info {margin: 5px 0 10px 0;}


article .art-header{padding: 5px 0px;}

article .art-content {}

article .art-content ol {float: left;text-align: justify;margin: 10px 50px;font-size: 16px;list-style-type: circle;}

article .entry-title {margin: 10px 0 30px 0;}
article .entry-title h2{line-height: 1.2;font-size: 38px;}
article .excerpt {border-bottom: 1px solid #aaa;border-top: 1px solid #aaa;margin: 20px 0;}
article .excerpt p{color: #888;margin-top: 10px;}

article .comment {background: #eee;padding: 20px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}

/* ---Sidebar--- */
#sidebar{}

.widget{background: #eee;padding:20px;margin-top:20px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
.widget:after, .widget:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
.widget .heading {}
.widget .content {margin-top:20px;}

.widget.wid-search {}
.widget.wid-category {}
.widget.wid-about {}


/* ---------------------------------------------------------------------------- */
/* -------------------------------------Footer--------------------------------- */
/* ---------------------------------------------------------------------------- */
footer {}
footer .wrap-footer {padding-bottom: 50px;}
